#
# Ignore everything:
#
*

#
# Except these things:
#
!.gitignore
!.git-prompt*
!.git-completion*
!.bash_profile
!.emacs.d
!.emacs.d/**
!.elisp
!.elisp/**
!bin
!bin/**

#
# But seriously, ignore editor cruft:
#
*~
\**
*\*
