#
# Ignore everything:
#
*

#
# Except these things:
#
!.gitignore
!.git-prompt*
!.git-completion*
!.bashrc
!.pythonrc
!.bash_profile
!.emacs.el
!.elisp
!.elisp/**
!bin
!bin/**
!.cargo/config.toml

#
# But seriously, ignore editor cruft:
#
*~
\**
*\*
