#
# Ignore everything:
#
*

#
# Except these things:
#
!.gitignore
!.git-prompt*
!.git-completion*
!.bashrc
!.pythonrc
!.bash_profile
!.emacs.el
!.elisp
!.elisp/**
!bin
!bin/**

# Yes to .cargo/config.toml, no to everything else under .cargo/.
#  
!.cargo
.cargo/*
!.cargo/config.toml

# Keep setup/, but not setup/build:
#
!setup
!setup/**
setup/build

#
# But seriously, ignore editor cruft:
#
*~
\**
*\*
